.scroller {
  margin: 0 .5rem;
  padding: 0 .5rem;
  max-height: 100vh;
}

.section {
  max-width: 1200px;
  animation: fadeIn 500ms ease-in both;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--pallete-contrast-light);

  &--profile, &--about {
    display: flex;
    flex-direction: column;
  }

  &--profile {
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }

  &--about {
    align-items: start;
  }

  &--title {
    font-size: 1.7rem;
    font-weight: bold;
  }

  &--projects h2 {
    margin-bottom: 2rem;
  }
}

.profile-container {
  width: 10rem;
  height: 10rem;
  border: var(--pallete-contrast-light) .25rem solid;

  &, &--image {
    border-radius: 20px;
  }

  &--image {
    height: 100%;
    width: 100%;
  }
}

.profile-description-container {
  margin-top: 2rem;

  &--name, &--education {
    text-align: center;
  }

  &--name {
    font-size: 1.7rem;
    font-weight: bold;
  }

  &--education {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

.profile-info-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h3 {
    margin-left: .75rem;
    font-size: 1.2rem;
  }

  &--location,
  &--github,
  &--linkedin,
  &--sourcerer {
    color: var(--pallete-contrast-light);
    justify-content: center;
  }

}

.about-description-container {

  &--text {
    margin-top: .5rem;
    color: var(--pallete-contrast-light);
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: justify;
  }
}

.projects-container {
  display: grid;

  --project-height: 400px;
  --projects-per-line: 3;

  @media(max-width: 768px) {
    --projects-per-line: 2;
  }

  @media(max-width: 425px) {
    --projects-per-line: 1;
  }

  grid-template-columns: repeat(var(--projects-per-line), 1fr);
  grid-gap: 24px;
}
