@import 'assets/css/reset.css';

:root {
  --pallete-dark: #171f35;
  --pallete-medium: #324378;
  --pallete-light: #7894cc;
  --pallete-contrast: #ebcc2c;
  --pallete-contrast-light: #f6f7b0;
}

.background--dark {
  background-color: var(--pallete-dark);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--pallete-contrast);
}

svg:not(.no-inherit) path {
  fill: currentColor;
}

.no-link {
  color: currentColor;
  text-decoration: none;
}

a:not(.no-link) {
  color: var(--pallete-contrast-light);
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.scroller {
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--pallete-contrast-light);
    border-radius: 8px;
    background-color: transparent;
    margin: 6px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 6px var(--pallete-contrast-light);
    background-color: var(--pallete-contrast);
  }
}
