@import 'assets/css/reset.css';

:root {
  --pallete-dark: #171f35;
  --pallete-medium: #324378;
  --pallete-light: #7894cc;
  --pallete-contrast: #ebcc2c;
  --pallete-contrast-light: #f6f7b0;
}

.background--dark {
  background-color: var(--pallete-dark);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--pallete-contrast);
}

svg path {
  fill: currentColor;
}

.no-link {
  color: currentColor;
  text-decoration: none;
}

a:not(.no-link) {
  color: var(--pallete-contrast-light);
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
